<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        {% csrf_token %}
        
        Реализация услуг<br>
        Поступления от покупателей<br>
        Начислены коммерческие расходы<br>
        Оплачены коммерческие расходы<br>
        Звкупка материалов<br>
        Выплата поставщикам<br>
        Списание материалов<br>
        Начислено вознаграждние исполнителям<br>
        Выплата вознаграждения исполнителям<br>
        Начислены производственные расходы<br>
        Оплачены производственные расходы<br>
        Покупка оборудования<br>
        Оплата оборудования<br>
        Амортизация оборудования<br>
        Начислены административные расходы<br>
        Оплачены административные расходы<br>
        Начислены налоги<br>
        Оплачены налоги<br>
        Получены кредиты<br>
        Погашены кредиты<br>
        Списание процентов<br>
        Изъятия собственников<br>
        Вложения собственников<br>
        


    </form>
</body>
</html>